{% extends "base.html.twig" %}

{% block title %}
    Invoices Page
{% endblock %}

{% block body %}
    {% for invoice in invoices %}
        <li>
            {{invoice}}
        </li>
    {% endfor %}
{% endblock %}